<!doctype html>
<html lang="en">
  <head>
    <title>Hadyai Car Trainer</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login-form.css">
  </head>

  <body ng-app="hctApp" ng-controller="LoginController">
    <div class="container">
      <form class="form-signin">
        <!-- <h2><img src="/HCT_Web/images/dlt_logo.png" alt="" width="150" height="150"></h2> -->
        <div class="register-wrap">
          <input type="text" class="form-control" id="username-field" placeholder="Username" name="username" ng-model="username">
          <input type="password" class="form-control" id="password-field" placeholder="Password" name="password" ng-model="password">


          <div class="group-login">
            <div class="pull-left">
             <!-- <input type="checkbox" class="list-child" ng-model="rememberUser" id="remember-checkbox">
              <span class="text-remember">จดจำฉัน</span> -->
            </div>
            <div class="pull-right">
              <!-- <span class="text-forget-pass" ng-click="resetPassword()" id="forget-pass-btn">ลืมรหัสผ่าน ?</span> -->
            </div>
          </div>

          <button class="btn btn-info btn-lg btn-block btn-register" id="init-bt" ng-click="login(username, password)">
            <span>เข้าสู่ระบบ</span>
          </button>


        </div>
      </form>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js.map"></script>
  <script src="app.js"></script>

  </body>
</html>
